.itemCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.card {
  padding: 16px;
  background: #fff5ee;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 8px 32px 0 #66aa69;
  transition: transform 0.125s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
}

.image {
  display: flex;
  border-radius: 6px;
  width: 100%;
  max-width: 50vh;
  height: auto;
}

.name {
  font-size: 1.25rem;
  margin: 1rem 0 0.5rem 0;
  color: #333;
}

.details {
  font-size: 0.75rem;
  color: #757575;
}

.actions {
  width: 100%;
  margin: 16px 0 16px 0px;
  text-align: center;
}

.actions button,
.actions a {
  min-height: 3rem;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.likeButtons {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin-bottom: 16px;
}

.likeButtons button {
  transition: box-shadow 0.125s, transform 0.125s;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.333);
}

.like {
  background: var(--primary-color);
  color: #fff;
  font-weight: 700;
  border: none;
  box-shadow: 0px 4px 0px #316633, 0px 6px 15px #66aa69;
}

.like:hover {
  box-shadow: 0px 2px 0px #316633, 0px 6px 15px #66aa69;
  transform: translateY(2px);
}

.like:active {
  box-shadow: 0px 2px 0px #316633, 0px 6px 15px #66aa69;
  background: #316633;
  transform: translateY(2px);
}

.dislike {
  background: #eaaf1a;
  color: #fff;
  font-weight: 700;
  border: none;
  box-shadow: 0px 4px 0px #b88914, 0px 6px 15px #66aa69;
}

.dislike:hover {
  box-shadow: 0px 2px 0px #b88914, 0px 6px 15px #66aa69;
  transform: translateY(2px);
}

.dislike:active {
  box-shadow: 0px 2px 0px #b88914, 0px 6px 15px #66aa69;
  background: #b88914;
  transform: translateY(2px);
}

.addItem {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px dotted var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  transition: background-color 0.125s;
}

.addItem:hover {
  background: rgb(102, 170, 105, 0.25);
}

.addItem:active {
  background: rgb(102, 170, 105, 0.5);
}
