.navigationWrapper {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.appName{
  display: flex;
}

.appName a { 
  width: auto;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Hanalei', cursive;
  font-weight: 500;
  font-size: 2.8rem;
  color: #49984C;
  display: inline-block;
}

p {
  color: #49984C;
  align-self: flex-end;
  margin: 0 0 10px 0;
}

@media (max-width: 550px) {
  .appName a{
    font-size: 2rem;
  }
  p {
    color: #49984C;
    align-self: flex-end;
    margin: 0 0 5px 0;
    font-size: 80%;
  }
}