body {
  margin: 0;
  padding: 0 16px;
  background-color: #e9ffc6;
  font-family: 'Rambla', sans-serif;
}

header {
  overflow: hidden;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin: 10px 0px;
}
