body {
  --primary-color: #49984c;

  margin: 0;
  padding: 0 16px;
  background-color: #e9ffc6;
  color: var(--primary-color);
  font-family: 'Rambla', sans-serif;
}

a {
  color: var(--primary-color);
}

p {
  margin: 0.75rem 0;
}
