.toggleHamburgerButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  margin-left: 2px;
}

.toggleHamburgerButton:focus {
	outline: none;
}


.toggleHamburgerButtonLine {
  width: 25px;
  height: 2.7px;
  background: black;
}